<form action=method='POST'>
						<table>
							<tr>
								<td style='color:#E04343;' colspan='2'>$errormasg</td>
							</tr>
							<tr>
								<td>Username:</td>
								<td><input type='text' name='name' value='$getuser'/></td>
							</tr>
							
							<tr>
								<td>E-mail:</td>
								<td><input type='email' name='email' value='$getemail'/></td>
							</tr>
							<tr>
								<td>Password:</td>
								<td><input type='password' name='password' /></td>
							</tr>
							<tr>
								<td>Re-password:</td>
								<td><input type='password' name='repassword' /></td>
							</tr>
							<tr>
								<td>Gender:</td>
								<td>
									<select name='gender'>
										<option value='0'>Select Sex:</option>
										<option value='Male'>Male</option>
										<option value='Female'>Female</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Birthday:</td>
								<td><input type='date' name='bdate' placeholder='mm/dd/yyyy'/></td>
							</tr>
							<tr>
								<td></td>
								<td><input type='submit' name='rebutton' value='Sign Up' style='padding:3px'/></td>
							</tr>
							
						</table>
						</form>";