*{margin:0;padding:0}
body{font-familY:arial;font-size:15px;line-height:20px;background:url(images/bg.png)repeat fixed;}
tr{margin-bottom:5px;}
input{padding:5px;outline:0px;}
h1,h2,h3{margin-bottom:15px}
textarea{text-transform:capitalize;}


input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}


input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}


input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}




/*main div*/
.main{width:900px;margin:20px auto;box-shadow:8px 8px 5px #000;background:#ddd}

/*menu */
.menu{background:#6E9E28;width:900px;margin:0px auto;min-height:50px}
.nav{float:left;}
.nav ul{margin:0;padding:0;list-style:none;}
.nav ul li{float:left;border-left:1px solid #ddd;position:relative}
.nav ul li:first-child{border-left:0px}
.nav ul li a{display:block;color:#000;padding:15px 20px;text-decoration:none;font-weight:bold;}
.nav ul li a:hover{background:#8C92FF;color:#000}

/*dropdown menu*/
.nav ul li ul{position:absolute;left:-99999px;background:#6E9E28;width:160px;z-index:4;}
.nav ul li:hover ul{left:0px;}
.nav ul li ul li{float:none;border-left:0px;border-bottom:1px solid #ddd}
.nav ul li ul li:last-child{border-bottom:0px}
.nav ul li ul li a{display:block;padding:10px;font-weight:bold;}
.nav ul li ul li a:hover{}
/*search*/
.search{float:right;margin-top:12px;margin-right:10px;}
.search input{padding:5px;outline:0px;border:0px}
.search input[type="submit"]{background:#FA8D03}
.search input[type="submit"]:hover{background:#333333;color:#fff;}


.fix{overflow:hidden}
.header{background:#6E9E28;color:#fff;padding:5px;min-height: 72px;}
.logo{float:left;}
.logo h2{color: #fff;margin-left: 20px;margin-top: 25px;font-weight:bold;font-family:Comic Sans MS}
.login{float:right;margin-right:20px}
.login input{padding:3px 0px;}
.login a{text-decoration:none;color:#fff;}
.login a:hover{text-decoration:none;color:#F006A8;}
.promot{float:left;width:410px;margin-left:20px;}
.register{float:right;margin-right:20px;width: 340px;color:#6E9E28}
.register td{padding:3px 0px}
.registerform{min-height: 290px;margin-top: 10px;}
.promot h3{font-weight:bold;margin-bottom:15px;line-height:30px}
.register input,select{padding:5px 0px}
.sign_up{margin-top:40px;margin-bottom:50px;color:#6E9E28}
/*footer design*/
.footer{background:#282828;padding:15px;color:#fff;text-align:center;font-family:Comic Sans MS;width:870px}
.square {width: 430px;float: left;padding: 15px;}

/*resetpassword page*/.
#resetpassbtn{background:#FA8D03;color:#fff;min-height:300px;}
#resetpassbtn:hover{background:#}

/*deacitivation page*/


/*myprofile*/
.myprofile{width:860px;min-height:400px;padding:20px}
.myprofilecontent{width:400px;margin-top:30px;}
.myprofilecontent table td{padding:5px;}

/*members page design*/
.members{width:860px;padding:20px;min-height:400px;}
.members a{color:#1979CA;text-decoration:none}
.members a:hover{color:#000;text-decoration:none;font-weight:bold}
.members td{padding:5px}

/*friend list*/
.friends_list{width:860px;padding:20px;min-height:400px;}
.friends_list a{color:#1979CA;text-decoration:none}
.friends_list a:hover{color:#000;text-decoration:none;font-weight:bold}
.friends_list td{padding:5px}

/*btn design*/
.sendmsgbtn{display:block;background:#000;color:#fff;padding:5px;border-radius:8px;}
.sendmsgbtn:hover{background:#A1DD3B;color:#000}
.removebtn{display:block;background:#000;color:#fff;padding:5px;border-radius:8px;}
.removebtn:hover{background:#A1DD3B;color:#000}
.addfriendbtn{display:block;background:#000;color:#fff;padding:5px;border-radius:8px;width:100px}
.addfriendbtn:hover{background:#A1DD3B;color:#000}

/*send message page design*/
.sendmsg{margin:30px auto;width: 300px;min-height: 400px;}
.width{width:60px;display:inline-block}
.send{background:#000;color:#fff;}

/*status */
.statusbox{margin-bottom:20px;border:1px solid #000;width:300px;padding:10px;}
.statustextarea{margin-bottom:20px;}
.statustextareabtn{padding:5px 10px;background:#000;color:#fff;border:0px}
.statustextareabtn:hover{background:#00A5E1}

